{% extends 'base.html' %}

{% block title %}Nuevo Contrato - Sistema Eléctrico{% endblock %}

{% block page_title %}Crear Contrato{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'sistemaGestion:lista_contratos' %}" class="boton">Volver</a>
    </div>

    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="boton">Guardar Contrato</button>
        </form>
    </div>
{% endblock %}
                 
