{% extends 'base.html' %}

{% block title %}Lecturas - Sistema Eléctrico{% endblock %}

{% block page_title %}Lecturas{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'sistemaGestion:crear_lectura' %}" class="boton boton-exito">Nueva Lectura</a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Fecha Lectura</th>
                    <th>Medidor</th>
                    <th>Tipo</th>
                    <th>Lectura Actual</th>
                    <th>Consumo (kWh)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lectura in lecturas %}
                <tr>
                    <td>{{ lectura.fecha_lectura }}</td>
                    <td>{{ lectura.medidor_numero }}</td>
                    <td>{{ lectura.tipo_lectura }}</td>
                    <td>{{ lectura.lectura_actual }}</td>
                    <td>{{ lectura.consumo_energetico }}</td>
                    <td>
                        <a href="{% url 'sistemaGestion:detalle_lectura' %}" class="boton" title="Ver detalle">
                            <i class="fas fa-eye"></i> Ver detalles
                        </a>
                        <a href="#" class="boton" title="Editar">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}